.osgi-admin-portlet {
	.tabs .lfr-search-container .results-grid .taglib-search-iterator {
		table-layout: fixed;
		width: 100%;

		.col-1 {
			width: 24em;
		}

		.col-2 {
			.container {
				max-height: 30em;
				overflow: auto;

				code {
					word-wrap: pre;
				}
			}
		}
	}
}