.DS_Store
.sass-cache/
.sass_cache_*.css
_sass_cache_*.css
/build.*.properties

*~
*.swp
*-ext.properties

/*/*/bin
/*/*/classes
/*/*/docroot/WEB-INF/classes
/*/*/tmp
/bin
/dist
/hooks/*/docroot/WEB-INF/classes/**/*
/layouttpl/*/docroot/WEB-INF/classes/**/*
/portlets/*/docroot/WEB-INF/classes/**/*
/tmp/**/*
/themes/*/docroot/WEB-INF/classes/**/*
/webs/*/docroot/WEB-INF/classes/**/*

/hooks/mvc-portlet-support-hook/docroot/WEB-INF/lib/freemarker.jar