# Can ignore specific files
.DS_Store

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
tmp/**/*

bin
hooks/*/docroot/WEB-INF/classes/**/*
layouttpl/*/docroot/WEB-INF/classes/**/*
portlets/*/docroot/WEB-INF/classes/**/*
themes/*/docroot/WEB-INF/classes/**/*
webs/*/docroot/WEB-INF/classes/**/*
build.*.properties
